<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <h1>Yangiliklar sahifasi</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum illo id nemo dolorum autem. Animi esse voluptatibus officia blanditiis aliquid, nam quis nobis iure non ullam assumenda? Saepe, iure veniam.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum illo id nemo dolorum autem. Animi esse voluptatibus officia blanditiis aliquid, nam quis nobis iure non ullam assumenda? Saepe, iure veniam.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum illo id nemo dolorum autem. Animi esse voluptatibus officia blanditiis aliquid, nam quis nobis iure non ullam assumenda? Saepe, iure veniam.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum illo id nemo dolorum autem. Animi esse voluptatibus officia blanditiis aliquid, nam quis nobis iure non ullam assumenda? Saepe, iure veniam.
    </p>
</body>
</html>